----

[문제1] 유방암 데이터를 이용하여 악성환자와 양성 환자를 분류하는 분류기를 설계하는 문제이다.

학습/테스트 데이터 split을 위한 설정은 아래의 설정을 따른다.

----

### 데이터 다운로더 & 전처리
- 수정하지 마시오

In [0]:
!wget --no-check-cert "https://www.dropbox.com/s/blqesgu16y5vsmu/problem1_data.csv"

--2019-12-10 11:47:23--  https://www.dropbox.com/s/blqesgu16y5vsmu/problem1_data.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601b:1::a27d:801
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/blqesgu16y5vsmu/problem1_data.csv [following]
--2019-12-10 11:47:23--  https://www.dropbox.com/s/raw/blqesgu16y5vsmu/problem1_data.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc9a81a1b081e4ba4d59bbd70c10.dl.dropboxusercontent.com/cd/0/inline/At9ZqytTcmlPjJ7CcgdArhsFTlBAhxodb7OIHYTm47yH94WtVAPmIxRAT7-xEjvcTh2zbM2yrjUjU7RZJlj4VuniNC1vBgVbiThQAEfKT4EOxIzlXtiXRh2fEKbf0inr5k8/file# [following]
--2019-12-10 11:47:23--  https://uc9a81a1b081e4ba4d59bbd70c10.dl.dropboxusercontent.com/cd/0/inline/At9ZqytTcmlPjJ7CcgdArhsFTlBAhxodb7OIHYTm47yH94WtVAPmIxRAT7-xEjvcTh2zbM2yrjUjU7RZJlj4VuniNC1vBgVbiThQAEfKT4EOxIzlXtiXRh2fEKbf0inr5k8/file
Resolving uc9a81a1b081e4ba4d59bbd70c10.dl.dropboxusercontent.com (uc9a81a1b081e4ba4d59bbd70c10.dl.dropboxusercontent.com)... 162.125.8.6, 2620:100:601b:6::a27d:806
Connecting to uc9a81a1b081e4ba4d59bbd70c10.dl.dropboxusercontent.com (uc9a81a1b081e4ba4d59bbd70c10.dl.dropboxusercontent.com)|162.125.8.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125204 (122K) [text/plain]
Saving to: ‘problem1_data.csv’

problem1_data.csv   100%[===================>] 122.27K  --.-KB/s    in 0.04s

2019-12-10 11:47:24 (3.20 MB/s) - ‘problem1_data.csv’ saved [125204/125204]

In [0]:
import numpy as np 
import pandas as pd 

data = pd.read_csv("problem1_data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
id                         569 non-null int64
diagnosis                  569 non-null object
radius_mean                569 non-null float64
texture_mean               569 non-null float64
perimeter_mean             569 non-null float64
area_mean                  569 non-null float64
smoothness_mean            569 non-null float64
compactness_mean           569 non-null float64
concavity_mean             569 non-null float64
concave points_mean        569 non-null float64
symmetry_mean              569 non-null float64
fractal_dimension_mean     569 non-null float64
radius_se                  569 non-null float64
texture_se                 569 non-null float64
perimeter_se               569 non-null float64
area_se                    569 non-null float64
smoothness_se              569 non-null float64
compactness_se             569 non-null float64
concavity_se               569 non-null float64
concave points_se          569 non-null float64
symmetry_se                569 non-null float64
fractal_dimension_se       569 non-null float64
radius_worst               569 non-null float64
texture_worst              569 non-null float64
perimeter_worst            569 non-null float64
area_worst                 569 non-null float64
smoothness_worst           569 non-null float64
compactness_worst          569 non-null float64
concavity_worst            569 non-null float64
concave points_worst       569 non-null float64
symmetry_worst             569 non-null float64
fractal_dimension_worst    569 non-null float64
Unnamed: 32                0 non-null float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

In [0]:
#deleting useless columns
#deleting the "id" column
data.drop("id",axis=1,inplace=True)
#deleting the "Unnamed: 32" column
data.drop("Unnamed: 32",axis=1,inplace=True)

In [0]:
data.head(5)

  diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0         M        17.99  ...          0.4601                  0.11890
1         M        20.57  ...          0.2750                  0.08902
2         M        19.69  ...          0.3613                  0.08758
3         M        11.42  ...          0.6638                  0.17300
4         M        20.29  ...          0.2364                  0.07678

[5 rows x 31 columns]

In [0]:
data.diagnosis.value_counts()
data.diagnosis=data.diagnosis.map({'M':1,'B':0})
data.diagnosis.value_counts()

0    357
1    212
Name: diagnosis, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size = 0.3,random_state=1234)
print(train.shape)
print(test.shape)

(398, 31)
(171, 31)

In [0]:
train_X = train.iloc[:, 1:31]
train_y=train.diagnosis
test_X= test.iloc[:, 1:31]
test_y =test.diagnosis

print(train_X.shape)
print(train_y.shape)
print(test_X.shape)
print(test_y.shape)

(398, 30)
(398,)
(171, 30)
(171,)

## 악성종양과 양상종양을 분류하는 분류기를 설계하시오
- 원하는데로 설계하세요

In [0]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

lda = LDA(n_components=150)
train_X_lda = lda.fit_transform(train_X,train_y)
test_X_lda = lda.transform(test_X)

clf = RandomForestClassifier(max_depth=2, random_state=42)
clf.fit(train_X_lda, train_y)
prediction = clf.predict(test_X_lda)

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:466: ChangedBehaviorWarning: n_components cannot be larger than min(n_features, n_classes - 1). Using min(n_features, n_classes - 1) = min(30, 2 - 1) = 1 components.
  ChangedBehaviorWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:472: FutureWarning: In version 0.23, setting n_components > min(n_features, n_classes - 1) will raise a ValueError. You should set n_components to None (default), or a value smaller or equal to min(n_features, n_classes - 1).
  warnings.warn(future_msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

## 분류기 평가 
- 수정하지마시오

In [0]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(prediction,test_y))

Accuracy: 0.9532163742690059